body { margin: 0; background: #E1E1E1; }

.top {
	position: relative;
	width: 100%;
	height: 600px;

	background: #1E1E1E;
}

.columbus {
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	padding-top: 170px;
	top: 200px;

	font-family: Georgia;
	font-style: normal;
	font-weight: bold;
	font-size: 90px;
	line-height: 102px;
	align-items: center;
	text-align: center;

	color: #FFFFFF;
}

@media only screen and (max-width: 767px) {
	.columbus {
		font-size: 50px;
	}
}

.links {
	width: 300px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
	align-items: center;
	text-align: center;
}

.arrow {
	margin-left: auto;
	margin-right: auto;
	padding-top: 90px;
	align-items: center;
	text-align: center;
}

.links ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.links li {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	list-style-type: none;
	padding: 10px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 37px;
	color: #FFFFFF;
}

@media only screen and (max-width: 767px) {
	.links li {
		font-size: 20px;
	}
}

.links a {
	color: #FFFFFF;
	text-decoration-line: none;
}

.links a:hover {
	text-decoration-line: underline;
}

.works-header {
	position: relative;
	width: 100%;
	height: 130px;
}

.works-header h2 {
	position: relative;
	display: inline-block;
	left: 84px;
	top: 48px;
	font-family: Georgia;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 34px;
	color: #1E1E1E;
}

.works {
	display: flex;
	flex-flow: column wrap;
	flex-direction: row;
	/* flex-wrap: wrap; */
	justify-content: space-around;
	align-items: flex-start;
	width: 100%;
	flex-grow: 1;
}

.work {
	background: #FFFFFF;
	border-radius: 10px;
	width: 300px;
	min-width: 250px;
	max-width: 400px;
	margin: 20px;
	padding: 20px;
	position: relative;
	display: inline-block;
	/* flex: auto; */
}

.work p {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #1E1E1E;
}

.work a {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	text-decoration-line: none;
	color: #1E1E1E;
}

.work a:hover {
	text-decoration-line: underline;
}

.project-header {
	font-family: Georgia;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	display: inline;
	color: #1E1E1E;
}

.language {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	padding-left: 16px;
}

.link {
	display: inline;
}

.link-arrow {
	display: inline;
	padding-left: 8px;
	transition: ease-in-out 0.2s;
}

.link:hover .link-arrow {
	padding-left: 14px;
}
