body
{
	background-color: #666666;
}

@font-face
{
	font-family: CFont; src: "fonts/BreeSerif-Regular.ttf";
}

#top
{
	position: relative;
	width: 99%;
	height: 100px;
	background: #333333;
	border-radius: 5px;
	box-shadow: 0px 10px 30px -20px #111111;
	padding: 5px;
	top: -10px;
}
   
#left
{
	position: relative;
	width: 200px;
	height: 100%;
	/*background: #ff7000;*/
	background: #333333;
	transition: all 1s;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 0px #555555;
	padding: 5px;
}

#left:hover
{
	box-shadow: 0px 0px 30px 0px #dbdb0a;
}

#top H1
{
	font-family: "CFont", normal, sans-serif;
 	font-size: 250%;
 	text-align: center;
	color: #dbdb0a;
	text-shadow:  0px 0px 25px #111111;
}

#left a:link, a:visited
{
	color: #dbdb0a;
	text-decoration: none;
	text-shadow: 0px 0px 20px #111111;
	font-family: "CFont", normal, sans-serif;
	transition: all 1s;
}

#left a:hover
{
	color: #666600;
	text-decoration: none;
}

#Vk
{
	width: 50px;
	height: 50px;
}

#GH
{
	width: 60px;
	height: 50px;
}

#Habr
{
	width: 50px;
	height: 50px;
}

#GT
{
	width: 50px;
	height: 50px;
}

